* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
.text_of {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(97, 96, 96);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.rhap_container {
  background-color: #121212 !important;
  width: 99vw !important;
}
.rhap_time {
  color: #fff !important;
  font-size: 12px !important;
}
.rhap_download-progress,
.rhap_progress-indicator {
  display: none;
}
.rhap_progress-container .rhap_progress-indicator {
  width: 14px;
  height: 14px;
  background-color: #fff;
  top: -4px;
}
.rhap_progress-filled {
  background-color: #fff !important;
}
.rhap_progress-container:hover .rhap_progress-filled,
.rhap_volume-bar:hover .rhap_volume-filled {
  background-color: #1ed670 !important;
}
.rhap_progress-container:hover .rhap_progress-indicator,
.rhap_volume-bar:hover .rhap_volume-indicator {
  display: block;
  z-index: 10;
}

.rhap_main-controls-button:first-child,
.rhap_main-controls-button:last-child {
  font-size: 28px !important;
}
.rhap_button-clear svg {
  color: #fff;
  display: inline;
}

.rhap_additional-controls .rhap_button-clear svg {
  width: 21px;
  height: 21px;
  color: currentColor;
}
.rhap_repeat-button {
  position: absolute;
  left: 56%;
  top: 34%;
  transform: translate(0%, -50%);
}
.rhap_progress-section {
  margin: 0 auto;
  width: 40%;
}
.rhap_volume-bar {
  background-color: #868686 !important;
}
.rhap_volume-filled,
.rhap_volume-indicator {
  background-color: #fff !important;
}
.rhap_volume-indicator {
  display: none;
}
.rhap_main-controls {
  margin-left: 50px;
}

.active {
  color: #1ed670 !important;
}

@media only screen and (max-width: 1023px) {
  .rhap_main-controls {
    margin-left: 44px;
  }
  .rhap_repeat-button {
    left: 60%;
    top: 33%;
  }
  .rhap_container {
    height: 100px !important;
  }
}
@media only screen and (max-width: 639px) {
  .rhap_time {
    font-size: 6px !important;
  }
  .rhap_main-controls-button svg {
    margin-top: 10px;
  }
  .rhap_main-controls-button:first-child svg,
  .rhap_main-controls-button:last-child svg {
    margin-top: 7px !important;
  }
  .rhap_additional-controls .rhap_button-clear svg {
    width: 15px;
    height: 15px;
  }
  .rhap_volume-bar {
    height: 3px !important;
  }
  .rhap_main-controls-button:first-child,
  .rhap_main-controls-button:last-child {
    font-size: 17px !important;
    width: 13px !important;
  }
  .rhap_volume-button .rhap_button-clear svg {
    width: 16px;
  }
  .rhap_play-pause-button {
    font-size: 24px !important;
    width: 24px !important;
  }
  .rhap_repeat-button {
    left: 63%;
    top: 37%;
  }
  .rhap_progress-container {
    margin: 0 calc(5px + 1%) !important;
  }
  .rhap_progress-section {
    width: 76% !important;
  }
  .rhap_volume-button svg {
    width: 15px !important;
  }
  .rhap_volume-container {
    flex: 0 1 65px !important;
  }
  .rhap_stacked-reverse .rhap_controls-section {
    margin-bottom: 0 !important;
  }
  .rhap_progress-bar {
    height: 3px !important;
  }
  .randomBtn {
    left: 37% !important;
    top: 40% !important;
  }
  .rhap_container {
    height: unset !important;
  }
  .p_15 {
    padding: 15px !important;
  }
  .w-97vw {
    width: 97vw !important;
  }
  .top_48 {
    top: 48% !important;
  }
  .height_37 {
    height: 37% !important;
  }
}
